{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header bg-primary text-white">
        <h2>Графовые алгоритмы</h2>
    </div>
    <div class="card-body">
        <!-- Ваше основное содержимое здесь -->

        <div class="mt-5 pt-4 border-top">
            <div class="text-center text-muted">
                <small>Вариант 21</small>
                <h6>Программный комплекс выполнил:</h6>
                <h5>Якусик Иван Владиславович</h5>
                <small>2025 год</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}